.footer {
  background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
  &-wrapper {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: white;
    }
  }
}

