.hero {
  background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;
  }
  &-img{
    width: 50%;
  }
  &-content{
    width: 50%;
    h3{
        font-size: 36px;
        color: white;
    }
    p{
        font-size: 18px;
        color: white;
        margin-top: 20px;
    }
  }
}
